<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="GitHub" value="https://nuget.pkg.github.com/tiagogauziski/index.json" />
    </packageSources>
  <packageSourceCredentials>
    <GitHub>
        <add key="Username" value="tiagogauziski" />
        <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA+atIPhZQp0aKPVAKQrVKDAAAAAACAAAAAAAQZgAAAAEAACAAAAAG61OtaIQXQfPKKv4uQP1wDtB9dpDTlfEHiADIsbc4pgAAAAAOgAAAAAIAACAAAACWdj2kMinf5xzit4nL3S9RB2qgTXeGWzD4UnvtDFhAijAAAABkpt4LFr3fgyUTEFQ7DVki+Y1qk37AJVQ8t/JH3CyWKhMddZPemYxzg0WwL5FKqVZAAAAAS0itjtmGWXEwiKxi+FMrLhqqz1AK3bVP9zvgaioyAEXTu1vMBs+XXmgLd0tdUoxeUmm7SP3oln4zgLjj9+fyyg==" />
      </GitHub>
  </packageSourceCredentials>
</configuration>